<html>
<head>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29438951-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>
<div class = "wrapper">
<div class = "left_box">
<p>You have searched for a record which we don't have in our database. If you are looking for a particular town try <a href="../search_form">browsing the map</a> if you haven't tried that already.</p>
<p>Try searching usign the name of the <b>council</b> not the name of the town<p>
<a href="../search_form">Click here to browse or search again</a>
</div>
</div>
</body>
</html>
