<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>
<div class = "wrapper">

<div class = "left_box">

<h1>Top 50 Municipal Performance Bonuses<img padding ="10" src="/static/arrow_back.png" alt="back to search page" /></a></h1>
<body>
{% load humanize %}

<table border=1>
<caption>Original data from National Treasury. We are not responsible for errors in the original dataset</caption>
<tr>
<th>Council</th>
<th>Position</th>
<th>No. of staff in category</th>
<th>Budgeted Bonus</th>

</tr>

{% for item in bonuses %}

<tr>
<td>{{ item.council }}</a></td><td>{{ item.role}}</td><td>{{ item.number }}</a></td><td>R{{ item.performance_bonus|floatformat:"-2"|intcomma }}</td>
<tr>
{% endfor %}
<table>
</div>
</div>
</body>
</html>