<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/style.css" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29438951-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<div class = "wrapper">

<div class = "left_box">

<h1>Top 50 Municipal Performance Bonuses<a href="../search_form"><img padding ="10" src="/static/arrow_back.png" alt="back to search page" /></a></h1>
<p>Blank or 'R0' entries indicate no data or no payment</p>
<body>
{% load humanize %}

<table border=1>
<caption>Source: National Treasury 2010/11 budgets. We are not responsible for errors in the original dataset</caption>
<tr>
<th>Council</th>
<th>Position</th>
<th>No. of staff in category</th>
<th>Budgeted Bonus</th>

</tr>

{% for item in bonuses %}

<tr>
<td>{{ item.council }}</a></td><td>{{ item.role}}</td><td>{{ item.number }}</a></td><td>R{{ item.performance_bonus|floatformat:"-2"|intcomma }}</td>
<tr>
{% endfor %}
<table>
</div>
</div>
</body>
</html>