<!DOCTYPE html >
<html>
<head>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29438951-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<link rel="stylesheet" type="text/css" href="/static/style.css" />
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
 

<script src="http://maps.google.com/maps/api/js?sensor=false"></script>

<script>
var map;
function initialize() {
	
    map = new google.maps.Map(document.getElementById('map'), {
        zoom: {{ zoom }},
		
        center: new google.maps.LatLng({{ lat }},{{ lng }}),
        mapTypeId: google.maps.MapTypeId.ROADMAP
		
    });
	
}
</script>
	
	
</head>
<div class = "wrapper">

<div class = "left_box">

	
{% load humanize %}
<h1>Council: {{ name }} - {{ province }}<a href="../search_form"><img padding ="10" src="/static/arrow_back.png" alt="back to search page" /></a></h1>
<table border = 1>
<caption>Source: National Treasury, based on 2010-2011 budgeted figures</caption>
<tr>
<th>Positon</th>
<th>Total costs</th>
<th>No. of staff</th>
<th>Salary</th>
<th>Bonus</th>
<th>Contributions</th>
</tr>
{% for item in council %}

<tr>
<td>{{ item.role}}</td>
<td>R{{ item.total_package|floatformat:"-2"|intcomma  }}</td>
<td>{{ item.number }}</td>
<td>R{{ item.salary|floatformat:"-2"|intcomma  }}</td>
<td>R{{ item.performance_bonus|floatformat:"-2"|intcomma }}</td>
<td>R{{ item.contributions|floatformat:"-2"|intcomma }}</td>
</tr>
{% endfor %}
</table>
</div>
<div class = "right_box" >
<body onload = 'initialize()'>


    <div id=map>
	

	</div>
	<p>{{ message }}</p>
	<table border = 1>
	<caption>Source: Statistics SA Community Survey 2007</caption>
        <tr>
	<th>Area km2</th>
	<th>Population</th>
	</tr>
	<tr>
	<td>{{ area }}</td>
	<td>{{ population }}</td>
	</tr>
	</table>
        	
	</body>
	</div>
<div class = "right_box_two">



</div>
</div>
</html>
