<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/style.css" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29438951-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  

</script>
</head>
<h1>Possible Council Matches</h1>
<body>

<p>Click on council name to access records</p>
<table border=1>
<tr>
<th>Council</th>
<th>Number of Records</th>
<th>Code</th>
</tr>

{% for item in search %}

<tr>
<td><a href="/council/{{ item.code }}">{{ item.council }}</a></td><td>{{ item.council__count}}</td>
<td>{{ item.code }}</td>
<tr>
{% endfor %}
<table>
</body>
</html>