<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" type="text/css" href="/static/style.css" />
    <title>Google Maps</title>

    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=AIzaSyCFyL_iYc6g28nrWudki_mqqfTYrtY1E_A" type="text/javascript"></script>
  </head>




</head>
    <title>Search</title>
</head>
<body onunload="GUnload()">
<div class="left_box">

    <form action="/search/" method="get">
        <input type="text" name="q">
        <input type="submit" value="Search">
    </form>
<p>(Enter council name eg Buffalo City or Tshwane)</p>
</div>
<div class ="blurb">
<p>This database contains nearly 7,000 records from South Africa's national Treasury department
   showing budgeted salaries and perks for Executive Mayors, Municipal Managers, Councillors and other senior officials.</p>
   <p>So, what's your mayor worth? Search and find out.</p>
   <p>While we have attempted to check as much data as possible we are not responsible for errors in the original dataset</p>
   </div>
<div class="right_box">
  <h2>Chart-Toppers</h2>
  <p>
  
  <ul>
  
  <li>
  <a href ="/mayors">Mayors and the Moola</a>
  </li>
  <li>
  <a href ="/bonus">Top Budgeted Bonuses</a>
  </li>
  <li>
  <a href ="/pricey">Most Expensive Council Management Teams</a>
  </li>
  <li>
  <a href ="/mm">Most Expensive Municipal Managers</a>
  </li>
  <p>
  </div>
  
	<div id="front_map"> </div>
    

    <noscript><b>JavaScript must be enabled in order for you to use Google Maps.</b> 
      However, it seems JavaScript is either disabled or not supported by your browser. 
      To view Google Maps, enable JavaScript by changing your browser options, and then 
      try again.
    </noscript>
 

    <script type="text/javascript">
    //<![CDATA[
    
    if (GBrowserIsCompatible()) { 

      // A function to create the marker and set up the event window
      // Dont try to unroll this function. It has to be here for the function closure
      // Each instance of the function preserves the contends of a different instance
      // of the "marker" and "html" variables which will be needed later when the event triggers.    
      function createMarker(point,html) {
	    
        var marker = new GMarker(point);
		
        GEvent.addListener(marker, "click", function() {
          marker.openInfoWindowHtml(html);
        });
        return marker;
      }

      // Display the map, with some controls and set the initial location 
      var map = new GMap2(document.getElementById("front_map"));
      map.addControl(new GLargeMapControl());
      map.addControl(new GMapTypeControl());
      map.setCenter(new GLatLng(-29.132970130878636,24.36767578125),6);
    
      // Set up three markers with info windows 
    {% for point in points %}
      var point = new GLatLng( {{ point.lat}}, {{ point.lng }});
      var marker = createMarker(point,'<div style="width:240px">{{ point.place }} <a href="/council/{{ point.code }}">Click here to see details of the council for this area<\/a><\/div>')
      
	  map.addOverlay(marker);
     {% endfor %}
    }
    
    // display a warning if the browser was not compatible
    else {
      alert("Sorry, the Google Maps API is not compatible with this browser");
    }

    // This Javascript is based on code provided by the
    // Community Church Javascript Team
    // http://www.bisphamchurch.org.uk/   
    // http://econym.org.uk/gmap/

    //]]>
    </script>
  
  
  
  
  
  </body>
  

</html>